.cell {
  border: 1px solid black;
  margin: 0.2rem;
  width: 3rem;
  height: 3rem;
}

.mainBoard {
  display: flex;
}
.btn{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
}
.btn:hover{
  cursor: pointer;
}
